body{
    margin: 0;
    padding: 0;
}

#filter{
    height: 4.3rem;
    width:20rem;
    position: absolute;
    z-index: 1;
    top: 9rem;
    left: 0;
    /* overflow-x: hidden; */
    transition: 0.5s;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    text-align: left;
}

#avability{
    height: 7rem;
    width: 20rem;
    position: absolute;
    z-index: 1;
    top:13.5rem;
    left: 20;
    overflow-x: hidden;
    transition: 0.5s;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

#categories{
    height: 15rem;
    width: 20rem;
    position: absolute;
    z-index: 1;
    top:21rem;
    left: 20;
    overflow-x: hidden;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.inputinform{
    padding-top: 10px;
}

.inputinform:hover{
    color: green;
    font-size: larger;
}

#brand{
    height: 14rem;
    width: 20rem;
    position:absolute;
    z-index: 1;
    top:36.5rem;
    left: 20;
    overflow-x: hidden;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

#pricefilter{
    height: 4rem;
    width: 77%;
    position: absolute;
    z-index: 1;
    top:9rem;
    left: 21rem;
    overflow-x: hidden;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    display: flex;
    text-align: center;
}

#pricefilter>button{
    border-radius: 10px;
    font-size:smaller;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
}

#pricefilter>button:hover{
   color: green;
   border: 1px solid green;
}

-------------------------->

#display-products{
  border: 5px solid red;
  height: auto;
  display: flex;
  flex-direction: column;
}

#display-products>div:nth-child(1){
    /* border: 5px solid blue; */
    height: 100;
    width: 21.5%;
}

#display-products>div:nth-child(2){
    /* border:5px solid goldenrod; */
    height: 100%;
    width: 77%;
    margin-left: 22%;
}

#display-products>div:nth-child(2)>div{
    /* border: 1px solid red; */
    margin-top: 4.5rem;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;

}

#append-div>div{
    margin-top: 1rem;
}

#append-div>div>img{
  width: 80%;
}

#append-div>div>img:hover{
    width: 83%;
  }






